{%load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/easymde/dist/easymde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'output.css'%}" />
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <title>Django - CRUD</title>
  </head>
  <body>
    {% url 'create_article' as create_article %} {% url 'home' as home %} {% url
    'account_email' as account_email %}

    <nav class="px-10 py-4 border-b border-gray-300 shadow-md">
      <div class="flex justify-end items-center gap-6 max-w-7xl mx-auto">
        {% if user.is_authenticated %}
        <a
          class="button primary"
          href="{% if request.path != create_article %}{{ create_article }} {% else %} # {% endif %}"
        >
          Create new</a
        >
        <a
          class="hover:underline {% if request.path == home %} font-semibold {% endif %}"
          href="{{ home }}"
          >Articles</a
        >
        <a
          class="hover:underline {% if request.path == account_email %} font-semibold {% endif %}"
          href="{{ account_email }}"
        >
          Change email</a
        >
        <form method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button
            class="hover:underline cursor-pointer"
            type="submit"
            class="hover:underline"
          >
            Log out
          </button>
        </form>
        {% else %}
        <a class="button secondary text-sm" href="{% url 'account_login' %}">
          Log In</a
        >
        <a class="button secondary text-sm" href="{% url 'account_signup' %}">
          Sign Up</a
        >
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock content %}
    <footer>Footer here</footer>
    {% block page_js %} {% endblock page_js %}
  </body>
</html>
