{% extends "app/base.html" %} {% block content %}
<main class="max-w-7xl mx-auto flex flex-col items-center mt-10">
  <h1 class="subtitle mb-2">Delete Article</h1>
  <p class="text-lg mb-6">
    Are you sure you want to delete the article "{{ article.title }}"?
  </p>
  <form method="POST" class="flex gap-4">
    {% csrf_token %}
    <button type="submit" class="button danger">Yes, delete</button>
    <a href="{% url 'home' %}" class="button secondary">Cancel</a>
  </form>
</main>
{% endblock content %}
